{{action "methodName"}}
{{action this.method param}}
{{this.method}}
{{action "methodName" param=value}}
{{action "methodName" param param1=value}}

<div
    onclick={{action "methodName"}}
    onclick={{action "methodName" param}}
    onclick={{action "methodName" param param1=value}}
    {{on "click" (action "methodName")}}
    {{on "click" (action "methodName" param)}}
    {{on "click" (action "methodName" param param1=value)}}
    {{action "methodName" }}
    {{action "methodName" param}}
    {{action "methodName" param param1=value}}
>
</div>